.productsSection{
    background-color: #a25492;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    min-height: 400px;
    border-radius: 15px;

}
.productsTitle{
    color: white;
    font-family: cursive;
    font-size: 20px;
}
.productsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}