.itemContainer{
    width: 100%;
    background-color: #a25492;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid black;
}
.imgProduct{
    border-radius: 10px;
}