*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    display: flex;
    flex-direction: column;
}

.navbar{
    width: 100%;
}
.title{
    width: 100%;
    display: flex;
    align-items: center;
}