.counter{
    display: flex;
    align-items: center;
    margin: 15px 0px;
}
.countContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
span{
    padding: 10px;
    font-size: 25px;
}
.buttonCount{
    width: 30px;
    font-size: 30px;
    border: 0;
    background-color: transparent;
}